*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background-color: beige;
}


/* =======MENU======= */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family:'Franklin Gothic Medium';
    color: black;
}

.nav .logo b{
    color: maroon;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;    
}

.nav ul li a{
    text-decoration: none;
    word-spacing: normal;
    letter-spacing: normal;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}


/* ======= ACTIVE ======= */

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    display: flex;
    position: relative;
    margin-left: 10px;

}


/* =======CONTENT======= */

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

/* #Content TEXT */
/* =======LEFT-SIDE======= */

.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: Arial;
}


/*==========CARDS==========*/


.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .list-items{
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.category .list-items h3{ 
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background: #ffff;
    outline: 2px #ff511c;
}

.category .card-list .card img{
    width: 100px;
    height: auto;
    bottom: 110px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 50%;
}

.category .card-list .card .guitar-title{
    padding: 40px 0 10px;
}


.category .card-list .card .guitar-title{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}


.category .card .desc-guitar p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category .card .price span{
    font-weight: 600;
    font-family: sans-serif;
}

.category .card .price span .plus-icon{
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}